
<!--easy customization-->
<!--<h1 class="title">
  Bulma
</h1>

<p class="subtitle">
  Modern CSS framework based on <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox">Flexbox</a>
</p>

<div class="field">
  <div class="control">
    <input class="input" type="text" placeholder="Input">
  </div>
</div>

<div class="field">
  <p class="control">
    <span class="select">
      <select>
        <option>Select dropdown</option>
      </select>
    </span>
  </p>
</div>

<div class="buttons">
  <a class="button is-primary">Primary</a>
  <a class="button is-link">Link</a>
</div>-->

<!-- Main container -->
<div class="level header-container">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        Your data nodes
      </p>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <div class="level-item">
      <div class="tags are-normal">
        <span class="tag legend-is-orange">query</span>
        <span class="tag legend-is-green">analytics</span>
        <span class="tag legend-is-purple">converters</span>
        <span class="tag legend-is-rose">display</span>

        <!--kept for testing to see the bulma default stuff and we can easily customize it-->
        <span class="tag is-primary">Medium</span>
        <span class="tag is-info">Large</span>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
