.header-container {
  margin: 8px;
}
.legend-is-orange {
  color: #fff;
  background: rgb(217, 95, 2);
}
.legend-is-green {
  color: #fff;
  background: rgb(27, 158, 119);
}
.legend-is-purple {
  color: #fff;
  background: rgb(117, 112, 179);
}
.legend-is-rose {
  color: #fff;
  background: rgb(231, 41, 138);
}